body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('Images/backgroundimg.jpg');
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: rgb(203, 230, 105);
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: rgb(5, 18, 206);
}
.title{
  background-color: rgb(214, 9, 9);
}
.dancer{
  height:100px;
  width: 100px;
}
img{
  height: 100px;
  width: 100px;
}
/* .blinker{

}
.jumper{

}
.spinner{

} */